body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.page {
  text-align: center;
  padding: 30px;
}

.title {
  font-size: 48px;
  color: white;
  margin-bottom: 30px;
}

.searchRow {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  padding: 12px;
  width: 250px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.btn {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background: #ff7e5f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #eb5757;
}

.error {
  color: red;
  font-weight: bold;
}

/* CARD */
.card {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card h2 {
  margin-bottom: 10px;
}

.card img {
  width: 80px;
}

.card p {
  margin: 8px 0;
  font-size: 16px;
}

.card b {
  color: #333;
}